.multi-textbox-container {
	padding: 2px 4px;
	width: 100%;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
	white-space: nowrap;
}

.multi-textbox-remove, .multi-textbox-add {
	cursor: pointer;
}

.multi-textbox-add {
	position: absolute;
	right: 0;
	margin-top: 8px;
	margin-right: 22px;
}

.multi-textbox-item {
	background-color: #ddd;
	border-radius: 4px;
	padding: 4px 10px;
	margin-right: 1px;
	float: left;
}

.multi-textbox-textbox >>> input {
	margin: 3px;
	border: none;
	outline: none;
	background-color: transparent;
	width: 100%;
}