.multi-textbox-remove, .multi-textbox-add {
	cursor: pointer;
	display:inline-block;
}

.multi-textbox-item {
	background-color: #ddd;
	border-radius: 2px;
	padding: 2px 6px;
	margin-top: 1px;
	margin-left: 2px;
	display: inline-block;
}

.multi-textbox-item-container {
	margin-top: -21px;
	margin-left: 1px;
	position:absolute;
}