# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
**/bin/*
**/obj/*
*.suo
*.user
*/packages/*
**/node_modules/*
*.map
Recipes/Web/DotNetCore/Data/Migrations/00000000000000_CreateIdentitySchema.cs
Recipes/Web/DotNetCore/Data/Migrations/00000000000000_CreateIdentitySchema.Designer.cs
Packages
/.vs
/Recipes/Web/Angular2/src/**/*.js
*.gitkeep
/Recipes/Web/Angular2/modelapi.js
/Angular2/.vs/config
/Angular2/src/app/**/*.js
/Angular2/src/app/**/*.js.map
/Angular2/src/pajama/**/*.js
/Angular2/src/pajama/**/*.js.map
/Angular2/src/pajama/npm-debug.log
/Angular2/dist/app/**/*.js
/Angular2/dist/app/**/*.js.map
/Angular2/dist/pajama/**/*.js
/Angular2/dist/pajama/**/*.js.map
/Angular2/dist/pajama/npm-debug.log
/Angular2/dist/npm-debug.log
