.gridview-settings {
	margin-right: 20px;
}

	.gridview-settings .dropdown-menu {
		margin-left: -65px;
	}

	.gridview-settings .dropdown-item {
		padding: 5px 5px 5px 10px;
		margin-left: 5px;
		margin-right: 5px;
		cursor: pointer;
		white-space: nowrap;
	}

		.gridview-settings .dropdown-item:hover {
			background-color: #e6e6e6;
		}


.column-menu {
	position: fixed;
	font-size: 14px;
	text-align: left;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

	.column-menu ul {
		list-style: none;
		padding: 5px 5px 5px 5px;
		margin-right: 10px;
	}

.column-menu-item {
	cursor: pointer;
	white-space: nowrap;
}

.column-close-button {
	cursor: pointer;
	float: right;
	padding: 5px;
}

.customize-header {
	background-color: #e3e6e8;
	height: 30px;
}