.userstar {
	cursor: pointer;
}

/*.star {
	width: 24px;
	height: 24px;
}



.starfull {
	background: url("../img/star.png");
}

.starempty {
	background: url("../img/starempty.png");
}

.starhalf {
	background: url("../img/starhalf.png");
}

.userstarfull {
	background: url("../img/userstar.png");
}

.userstarempty {
	background: url("../img/userstarempty.png");
}

.userstarhalf {
	background: url("../img/userstarhalf.png");
}*/
/*.starempty:hover {
    background: url("/img/star.png");
}*/
