.calendar-button-container {
	margin-left: -35px;
	display: inline;
}

.calendar-button {
	border: 0px;
	vertical-align: top;
	margin-top: 1px;
	height: 22px;
	width: 30px;
	background-color: rgba(255, 255, 255, 0.5);
}

.datetime-picker {
	position: relative;
}

.datetime-picker-clickable {
	cursor: pointer;
}

.datetime-picker-calendar-icon {
	border: 1px solid black;
	height: 10px;
	width: 14px;
	border-top: 4px solid black;
	border-radius: 2px;
}

.datetime-picker-dropdown {
	z-index: 5;
	position: absolute;
	border: 1px solid;
	background-color: #F8F8FF;
	border-color: grey;
	padding: 10px;
	width: 300px;
	max-width: 300px;
}

.datetime-picker-timeonly-dropdown {
	width: 200px !important;
}

.datetime-picker-controls-panel {
	margin-bottom: 4px;
}

.datetime-picker-top-spinner {
	margin-top: 3px;
}

.datetime-picker-bottom-spinner {
}

.datetime-picker-controls-panel input::-webkit-outer-spin-button,
.datetime-picker-controls-panel input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.datetime-picker-inner .row {
	margin: 0px;
}

.datetime-picker-calendar-header {
	text-align: center;
	color: white;
	font-weight: bold;
}

.datetime-picker-calendar-day {
	text-align: right;
	padding-right: 10px;
}

	.datetime-picker-calendar-day:hover {
		background-color: #d9edf7;
	}

.datetime-picker-calendar-table {
	width: 100%;
}

.datetime-picker-calendar-header-row {
	background-color: #337ab7;
}

.datetime-picker-disabled {
	cursor: not-allowed;
	color: gray;
}

	.datetime-picker-disabled:hover {
		background-color: inherit;
	}

.datetime-picker-selected {
	background-color: #bce8f1;
	font-weight: bold;
}

.calendar-day:hover {
	background-color: #d9edf7;
}

.datetime-picker-controls-panel input,
.datetime-picker-controls-panel select {
	display: inline-block;
	margin-left: 7px;
	height: 100%;
	padding: 1px 0px;
}

.datetime-picker-date-panel input {
	width: 70px;
}

.datetime-picker-date-panel select {
	width: 70px;
}

.datetime-picker-time-panel select {
	width: 55px;
}

.datetime-picker-time-panel input {
	width: 30px;
	text-align: right;
	padding-right: 5px;
}

.datetime-picker-time-panel {
	text-align: right;
	display: inline-block;
	margin-top: 8px;
}

.datetime-picker-buttons-panel {
	margin-top: 10px;
	text-align: right;
}

.datetime-picker-button {
	padding-left: 4px;
}

.arrow-left-right-container {
	float: right;
	display: inline-block;
	margin-top:5px;
}

.arrow-up-down-container {
	display: inline-block;
	height: 27px;
	vertical-align: middle;
}

.datetime-picker-calendar-table td {
	padding: 5px;
}
