<div class="search-controls-container">
	<div class="search-controls">
		<div class="row">
			<div class="col-md-1">
				<strong>Include:</strong>
			</div>
			<div class="col-md-3">
				<input type="text" [multiTypeahead]="includes" name="includes" class="form-control" [dataSource]="getIngredients" displayMember="ingredientName" valueMember="ingredientName" [minLength]="3" />
			</div>
			<div class="col-md-1">
				<strong>Exclude:</strong>
			</div>
			<div class="col-md-3">
				<input type="text" [multiTypeahead]="excludes" name="excludes" class="form-control" [dataSource]="getIngredients" displayMember="ingredientName" valueMember="ingredientName" [minLength]="3" />
			</div>
			<div class="col-md-1">
				<strong>Source:</strong>
			</div>
			<div class="col-md-3">
				<input type="text" typeahead class="form-control" name="source" [dataSource]="recipeSources" [(ngModel)]="recipeSourceID" displayMember="recipeSourceName" valueMember="id" />
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-1">
				<strong>Rating:</strong>
			</div>
			<div class="col-md-2">
				<ul class="rating-list">
					<li *ngFor="let rat of [0.5,1,1.5,2,2.5,3,3.5,4,4.5,5]" class="rating-item">
						<img *ngIf="rat <= rating" (click)="rating = (rating == rat ? 0 : rat)" [src]="(rat * 10) % 10 == 5 ? 'src/img/starleft.png' : 'src/img/starright.png'" />
						<img *ngIf="rat > rating" (click)="rating = (rating == rat ? 0 : rat)" [src]="(rat * 10) % 10 == 5 ? 'src/img/staremptyleft.png' : 'src/img/staremptyright.png'" />
					</li>
				</ul>
			</div>
			<div class="col-md-1">
				<strong>Picture(s):</strong>
			</div>
			<div class="col-md-1">
				<input type="checkbox" [(ngModel)]="picturesOnly" />
			</div>
			<div class="col-md-1">
				<strong>Bookmarked:</strong>
			</div>
			<div class="col-md-1">
				<input type="checkbox" [(ngModel)]="bookmarked" />
			</div>
			<div class="col-md-1 pull-right">
				<button class="btn btn-warning" (click)="clear()">Clear</button>
			</div>
			<div class="col-md-1 pull-right">
				<button class="btn btn-primary" (click)="search()">Search</button>
			</div>
		</div>
		<br /><br />
	</div>
</div>
<br /><br /><br />
{{totalResults}}
<div class="search-results">
	<ul>
		<li *ngFor="let recipe of recipes">
			<div>
				<!-- tooltip -->
				<div class="thumbnail-container image-container">
					<img [src]="recipe.coverImageURL" />
					<br />
				</div>
				<div class="thumb-recipe-name">
					{{recipe.recipeName}}
				</div>
			</div>
		</li>
	</ul>
</div>
<overlay [loading]="loading"></overlay>
