.checklist {
	position: relative;
	min-width: 60px;
}

.checklist-item {
	cursor: pointer;
}

.checklist-button {
	width: 100%;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: #aaa;
	height: 20px;
	position: relative;
	text-align: left;
}

.checklist-button-text {
	display: inline-block;
}

.checklist-button-image {
	display: inline-block;
	right: 0px;
	position: absolute;
	right: 7px;
	top: 4px;
}

.checklist-item-all {
	font-style: italic;
}

.checklist-check {
	margin-right: 5px;
}

.checklist-container {
	white-space: nowrap;
	max-width: inherit;
}

.checklist-dropdown {
	z-index: 1;
	position: absolute;
	border: 1px solid;
	background-color: white;
	border-color: grey;
	padding: 5px;
	min-width: 160px;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 600px;
}

.glyphicon-none:before {
	content: "\2122";
	color: transparent !important;
}