.component {
	font: 14px Helvetica,Arial,sans-serif;
}

input.component {
	padding-left: 6px;
	width: 100% !important;
}

.input-button-container {
	display: block;
	position: absolute;
	top: -20px;
	right: 0px;
}

.input-button {
	border: 0px;
	vertical-align: top;
	margin-top: 1px;
	height: 18px;
	width: 23px;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.clickable {
	cursor: pointer;
}

.spinner-arrows {
	background-size: 9px 6px !important;
	background-repeat: no-repeat;
	width: 9px;
	height: 6px;
}

.error-label {
	font-weight: bold;
	color: red;
}

.disable-edit, checklist.disable-edit button {
	font-weight: bold;
	border: 0px !important;
	background-color: rgb(240,240,240) !important;
}


	.disable-edit + multi-typeahead .multi-textbox-item {
		font-weight: bold;
		border-right: 1px solid black;
		border-radius: 0px;
	}

		.disable-edit + multi-typeahead .multi-textbox-item:last-child {
			border-right: 0px;
		}

	.disable-edit + multi-typeahead .multi-textbox-item-container {
		padding-left: 4px !important;
	}

	.disable-edit + * .input-button-container, checklist.disable-edit .checklist-button-image {
		display: none !important;
	}

input[type="radio"].disable-edit, input[type="radio"]:not(:checked).disable-edit + span,
input[type="checkbox"].disable-edit, input[type="checkbox"]:not(:checked).disable-edit + span {
	display: none;
}

input[type="radio"]:checked.disable-edit + span,
input[type="checkbox"]:checked.disable-edit + span {
    font-weight: bold;
}

.modal-dialog-body {
	padding: 15px;
}

.medium-modal-dialog-body {
	width: 800px;
}

.large-modal-dialog-body {
	width: 1000px;
}
