<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="Interval" value="5000" />
  <add key="SMTPServer" value="smtp.gmail.com" />
  <add key="SMTPPort" value="587" />
  <add key="UseSSL" value="true" />
  <add key="IMAPServer" value="imap.gmail.com" />
  <add key="IMAPPort" value="993" />
  <add key="IMAPUseSSL" value="true" />
  <add key="UserName" value="pj.martins.805@gmail.com" />
  <add key="Password" value="bEVJMSHpsY5ErwiZVa8+nuv0W6+qfxx7uTnC2NxMns8=" />
  <add key="SendTo" value="pj_martins@outlook.com" />
  <add key="SendFrom" value="pj.martins.805@gmail.com" />
</appSettings>
</configuration>