.disable-edit {
	border: 0px !important;
	font-weight: bold;
	background-color: #FAFAFA !important;
}

	.disable-edit:focus {
		outline: none !important;
	}

	.disable-edit +
	* .input-button-container {
		display: none !important;
	}
