.overlay-container {
}

.overlay-background {
	top: 0px;
	left: 0px;
	padding-left: 100px;
	position: fixed;
	z-index: 1000;
	height: 100%;
	width: 100%;
	background-color: #808080;
	opacity: 0.3;
}

.overlay-content {
	position: fixed;
	border: 1px solid #000;
	background-color: #fff;
	font-weight: bold;
	height: 100px;
	width: 300px;
	z-index: 1000;
	text-align: center;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -50px;
}